<div class="container my-5">
   <div class="row mb-5">
        <div class="col-7">
            <img src="{{recipeData?.image}}" alt="">
            <button class=" favBtn">
                <i *ngIf="!isFavorit" class="fa fa-heart-o" aria-hidden="true" (click)="addToFavorites(recipeData)"></i>
                <i  *ngIf="isFavorit" class="fa fa-heart" aria-hidden="true" (click)="removefromFavorites(recipeData?.id)"></i> 
            </button>
            
        </div>
        <div class="col-5">
            <h3 class="mt-4">{{recipeData?.title}}</h3>
            <p><span class="price">${{recipeData?.pricePerServing}}</span>/per serving</p>
            <p [innerHTML]="recipeData?.summary"></p>
            <h4>Ingredients</h4>
            <div class="row">
                <div class="ingredientBox " *ngFor="let ingredient of recipeData?.extendedIngredients">
                    <span >{{ ingredient.nameClean }}</span>
                </div>
            </div>
        </div>
       
   </div>
   <div>
    <h4>Instructions</h4>
    <div *ngFor="let instruction of recipeData?.analyzedInstructions">
        <div *ngFor="let step of instruction.steps">
            <p><span class="heading">{{ step.number }}. </span>
            <span>{{ step.step }}</span></p>
        </div>

    </div>
</div>
</div>